@using ScrewTurn.Wiki.Web.Localization.Admin
@using ScrewTurn.Wiki.Web.Localization.Messages
@model ScrewTurn.Wiki.Web.Models.Admin.AdminBaseModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="sectiontitle">@AdminHome.LblAdminHome_Text</h2>


<div style="clear: both;"></div>