@model System.String
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editor</title>
    @Html.Raw(Model)
</head>
<body id="VisualEditorBody" contentEditable="true">
</body>
</html>
